@import "tailwindcss";
@import "@fontsource/inter";
@import "tw-animate-css";

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;  
  width: 100%;   
  font-family: "Inter", sans-serif;
  
}

body {
  min-height: 100vh; 
}
