@import "tailwindcss";
@import "@fontsource/inter";
@import "tw-animate-css";

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;  /* Ensure the body takes up full height */
  width: 100%;   /* Ensure the body takes up full width */
  font-family: "Inter", sans-serif;
  
}

body {
  min-height: 100vh; /* Ensure the body has at least the height of the viewport */
}
